section {
    align-items: center;
}

section header {
    align-items: center;
    span {
        font: var(--subtitle);
        color: var(--main-red);
        margin-bottom: 8px;
    }

    h2 {
        font: var(--title-md);
        color: var(--base-grey-600);
    }
    margin-bottom: 56px;
}

section#projects {
    width: 1040px;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 24px;

    figure:hover {
        outline: 1.5px solid var(--base-grey-600);
    }

    .card {
        background-color: var(--base-grey-400);
        border-radius: 12px;
        width: 330px;
        height: 280px;
        padding: 12px;

        

        img {
            border-radius: 12px;
            width: 306px;
        }

        figcaption {
            
            padding: 4px;
            /* gap: 8px; */
            h3 {
                font: var(--title-sm);
                color: var(--base-grey-600);
            }
            p {
                font: var(--text-sm);
                color: var(--base-grey-500);
            }
        }
        
    }

    
}

section#services {
    background-color: var(--base-grey-100);
    padding: 88px 120px 120px;
    
}

section#servicesgrid {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    .card {
        border: 2px solid var(--base-grey-200);
        border-radius: 12px;
        width: 280px;
        padding: 20px;

        img {
            width: 48px;
            height: 48px;
        }
        .cardheader{
            h3 {
                font: var(--title-sm);
                color: var(--base-grey-600);
            }
            p {
                font: var(--text-sm);
                color: var(--base-grey-500);
            }
        }
    }
}

section#contato {
    span {
        color: var(--main-purple);
        font: var(--subtitle);
    }
    h2 {
        color: var(--base-grey-600);
        font: var(--title-md);
    }
    p {
        color: var(--base-grey-500);
        font: var(--text-md);
    }
}

section#links {
    gap: 16px;
    a {
        display: flex;
        width: 400px;
        background-color: var(--base-grey-300);
        border-radius: 8px;
        padding: 20px;
        gap: 12px;
        text-decoration: none;
        color: var(--base-grey-500);
        font: var(--text-md);
        align-items: center;
        justify-content: center;

        img:nth-child(1) {
            width: 28px;
            height: 28px;
        }
        p {
            width: 100%;
        }
        img:nth-child(3){
            width: 20px;
            height: 20px;
        }
        
    }

    a:hover{
        /* border: 1.5px solid var(--main-blue); */
        outline: 1.5px solid var(--main-blue);
    }
}