.grid {
    display: grid;
}

.flex {
    display: flex;
}

.flex-flow-col {
    flex-direction: column;
}

.title-lg {
    font: var(--title-lg);
}

.title-md {
    font: var(--title-md);
}

.title-sm {
    font: var(--title-sm);
}

.subtitle {
    font: var(--subtitle);
}

.text-md {
    font: var(--text-md);
}

.text-sm {
    font: var(--text-sm);
}

.gap-8 {
    gap: 8px;
}

.gap-20 {
    gap: 20px;
}
